<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Udemy_maven.udemy_java_maven.selenium_test"/>
      <class name="Udemy_maven.udemy_java_maven.appium_test"/>
      <class name="Udemy_maven.udemy_java_maven.restapi_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
